@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para nav en pantallas sm */
@screen sm {
    nav {
        @apply mx-[50px]; /* Aplica un margen horizontal de 150px solo en pantallas sm */
    }

    .section{
        @apply px-[50px]
    }

    .am-titles{
        @apply flex justify-start
    }
}

/* Si necesitas estilos para otras pantallas, también puedes definirlos */
@screen md {
    nav {
        @apply mx-[70px]; /* Diferente margen para pantallas md */
    }
    .section{
        @apply px-[70px]
    }
}

@screen lg {
    nav {
        @apply mx-[200px]; /* Diferente margen para pantallas md */
    }

    .section{
        @apply px-[200px] w-[100%]
    }
}

@layer components{
    html{
        font-family: Onest Variable, system-ui, sans-serif;
        scroll-behavior:smooth;
    }
    body {
        @apply bg-gradient-to-b from-blue-charcoal-900 to-blue-charcoal-950 w-full h-full 
        bg-no-repeat bg-blue-charcoal-950 text-white;
    }
    /* ---------- NAV ---------- */
    nav{
        @apply pt-[10px] flex items-center justify-between
    }

    h1{
        @apply text-blue-charcoal-300 text-[36px] sm:text-[48px] font-bold
    }

    h2{
        @apply text-blue-charcoal-100 text-[26px] sm:text-[36px] font-bold
    }

    
    
    .am-titles{
        @apply flex items-center justify-center sm:max-w-[600px] px-8 sm:px-0
    }

    .btn{
        @apply px-3 border-2 rounded-3xl border-blue-charcoal-300 text-blue-charcoal-300
    }

    .btn:hover{
        @apply bg-blue-charcoal-50 text-blue-600 transition duration-500 ease-in
    }
    .navLinks{
        @apply border-[2px] rounded-full border-blue-charcoal-200 bg-blue-charcoal-700
    }

    .nav-link{
        @apply text-blue-charcoal-200 font-bold text-[20px] m-[10px]
    }

    .nav-link.active{
        @apply text-white underline
    }

    .logo{
        @apply text-white font-bold text-[45px]
    }

    .dropdown-menu {
        @apply max-h-0 overflow-hidden duration-300 ease-in-out; /* Para ocultar inicialmente */
    }

    .dropdown-menu.show {
        @apply max-h-40; /* Ajusta según el contenido que tienes en el menú */
    }

    .box-exp{
        @apply border-2 border-blue-charcoal-500 grid grid-cols-2 rounded-3xl
    }

    .exp-text{
        @apply font-bold flex items-center text-[20px]
    }

    .exp-img{
        @apply flex justify-center p-3
    }

    .exp-img img{
        @apply h-[60px] max-w-[80px]
    }

    .am-titles{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    
    }

}

